<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Page created by Ankur Goel for getting the real time weather information. </p>
    </div> 
    {{>footer}}
</body>


</html>